/* Plano de fundo com imagem */
body {
    background-image: url('https://i.ibb.co/chvJMZgT/4775341-19373.jpg'); /* URL da imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para o título */
.custom-title {
    color: hsl(0, 0%, 98%); /* Azul escuro */
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

/* Estilo para os cards */
.custom-card {
    background-color: hsl(212, 87%, 56%); /* Fundo branco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
}

/* Estilo para a logo */
.logo {
    position: absolute;
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
    width: 150px; /* Largura da logo */
    height: auto; /* Altura proporcional */
    z-index: 10; /* Garante que a logo fique acima de outros elementos */
}

/* Estilo para o valor total */
.total-value {
    color: #2d89f1; /* Azul escuro */
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
